## Assigning value & Multiple assignment

In [2]:
a = 10

In [3]:
name = "Pascal"

In [4]:
salary = 2000.50

In [5]:
a = 10
b = 10
c = 10
a = b = c = 10

In [6]:
x = 20
y = 30
z = 40

x,y,z = 20,30,40

## Python Tokens
* **Keywords**
    * Are special reserved words
    * Coney a special meaning to the compiler
    * *NEVER* use it as a variable
* **Identifiers**
    * Are the name used to identify a variable, function, class or an object
    * Rules
        * No special character except underscore can be used
        * Keyword should not be used as an identifier name
        * Python is case sensitive
        * First character of an identifier can be character, underscore but not a digit
* **Literals**
    * String
    * Numeric
        * Int
        * Long
        * Float
        * Complex
    * Boolean
    * Special
        * None
        * ```name = none```
* **Operators**
    * Arithmetic Operator `+, -, /, *, %`
    * Assignment `=, +=, -=, *=`
    * Comparison `<, >, <=, >=, !=`
    * Logical `and, or, not`
    * Bitwise `&, |, >>, <<, ~`
    * Identity `is, is not`
    * Membership `in, not in`

## Python Datatypes
* **Numbers**
* **Strings**
* **Tuples**
* **Lists**
* **Dictionaries**
* **Sets**

### Numbers

In [9]:
#Get datatype of a variable
a = 10
print(type(a))

<class 'int'>

### Strings

In [10]:
#Extract hello from 'hello-world'
str = "hello-world"
print(str[0:5])

hello

In [11]:
#Find something in string
str = "Coolness"
str.find("ne")

4

In [12]:
#Replace in string
str.replace("ne", "i")

'Cooliss'

In [13]:
#Split string
splstr = "word1,word2,word3"
splstr.split(",")

['word1', 'word2', 'word3']

In [14]:
#Count
str3 = "Intellipaat"
str3.count("i")

1

In [15]:
#Convert to uppercase
str4 = str3.upper()

str4.count("I")

2

In [18]:
#Max min function
str5 = "!@#123AbacC"
print(max(str5))
print(min(str5))

c
!

### Tuples

In [20]:
#Concatenation
mytuple = ( "a", "b", "c", "d" )
mytuple1 = ( "e", "f" )

mytuple += mytuple1
print(mytuple)

('a', 'b', 'c', 'd', 'e', 'f')

In [21]:
mytuple * 2

('a', 'b', 'c', 'd', 'e', 'f', 'a', 'b', 'c', 'd', 'e', 'f')

In [22]:
#Indexing - shows the indexed character
mytuple[1]

'b'

In [23]:
#Slicing - shows a specific set of indexed character
mytuple[1:5]

('b', 'c', 'd', 'e')

### Lists

In [24]:
mylist = ["a", 123, 3.13, "Pascal"]
mylist2 = ["Python", 20]

mylist += mylist2
print(mylist)

['a', 123, 3.13, 'Pascal', 'Python', 20]

In [25]:
#Remove item from list
mylist.remove("Python")
print(mylist)

['a', 123, 3.13, 'Pascal', 20]

In [26]:
#Add item to list
mylist.append("10")
print(mylist)

['a', 123, 3.13, 'Pascal', 20, '10']

In [27]:
mylist3 = ["c", "d"]
mylist.append(mylist3)
print(mylist)

['a', 123, 3.13, 'Pascal', 20, '10', ['c', 'd']]

### Dictionaries

In [28]:
mydict = { 1: "Pascal", 2: "Pete", 3: "Marcel" }

In [29]:
#Empty dictionary
mydict = {}

In [30]:
#Integer keys
mydict = { 1: "apple", 2: "peach"}

In [31]:
#Mixed keys
mydict = {"name": "Pascal", 1: [2, 4, 3]}

In [32]:
#Paring - from sequence having eatch item as a pair
mydict = dict([(1, "apple"), (2, "peach")])

In [34]:
#Accessing dictionary
mydict = {1: "word1", 2: "word2"}
mydict[1]

'word1'

In [35]:
#Length
len(mydict)

2

In [41]:
#Key
mydict.keys()

dict_keys([1, 2])

In [42]:
#Values
mydict.values()

dict_values(['apple', 'peach'])

### Sets

In [45]:
#Create a set
mySet = {1, 2, c}

In [46]:
#Union
mySet2 = {1, "b", "c"}
mySet | mySet2

{1, 10, 2, 'b', 'c'}

In [47]:
#Intersection
mySet & mySet2

{1}

## Flow control
* if-else
* nested if-else
* for
* while
* break
* continue

## Functions
A function is a block of organized, reusable sets of instructions that is used to perform some related actions

* User defined function
    * `def add(a,b): return a+b`
* Built-in function
    * `abs()`: returns the absolute value of a number
    * `all()`: returns true if all items in an iterable object are true
    * `any()`: returns true if any item in an iterable object is true
    * and so on..

### Lambda

In [48]:
x = lambda a : a+10
print(x(10))

20

In [49]:
def multi(x,y):
    return x * y

In [50]:
z = lambda x,y : x * y
print(z(12,3))

36

In [51]:
def myfunc(n):
    return lambda a : a*n

In [52]:
doubleme = myfunc(2)
print(doubleme(12))

24

### File handling
* **Open**
    * `f = open("path", mode)`
    * Modes:
        * `r - Read`: Default value. Opens a file for reading, error if the file does not exist
        * `a - Append`: Opens a file for appending, creates the file if it does not exist
        * `w - Write`: Opens a file for writing, creates the file if it does not exist
        * `x - Create`: Creates the specified file, returns an error if the file already exists
* **Read**
    * `f = open("file.txt", "r")`
    * `print(f.read())`
* **Write/Create**
* **Delete**